@import '../themecolours.module.scss';

.title {
    margin-top: 0.5rem;
    font-size: larger;
    font-weight: 600;
}

.subtitle {
    font-size: smaller;
    color: $sub-text;
    font-family: 'Courier New', Courier, monospace;
}