.contents {
    padding-top: 50px;
    font-size: xx-large;
    display: flex;

  flex-direction: column;
  justify-content: center;      /* Vertical center */
  align-items: center;          /* Horizontal center */
  gap: 2rem;                    /* Space between links */

    a {
        display: block;
        width: 200px;
    }
}