@import '../themecolours.module.scss';

.section {
    background-color: var(--heading-color);
    padding: 2rem 0rem;
}

.title {
    font-size: xx-large;
    font-weight: 800;
    color: var(--color-primary);
    margin-bottom: 0.15rem;
}

.subtitle {
    font-size: smaller;
    color: $sub-text;
    margin-bottom: 0.5rem;
}