
// ... blacks
$black: #000000;
$richBlack: #0C1821;
$offBlack: #222;

// ... greys
$greyLight: #dbdbdb;
$grey: #636363;
$charcoal: #364156;
$battleshipGrey: #848C8E;
$outerSpace: #435058;
$coolGrey: #989FCE;

// ... whites
$white: #ffffff;
$offWhite: #ededed;

// ... blues
$darkNavy: #012a3e;
$prussianBlue: #212D40;
$lavender: #CCC9DC;

// ... greens
$darkForestGreen: #01291c;
$teal: #42f5cb;
$tealLight: #c4fcef;
$forestGreen: #044838;
$forestGreenLight: #488a7d;
$forestGreenPale: #38635b;

// ... reds
$roseTaupe: #7D4E57;
$jasper: #D66853;
