@import "tailwindcss";
@import './themecolours.module.scss';

:root {
  --background: #{$background-light};
  --foreground: #171717;
  --heading-color: #{$heading-light};
  --color-primary: #{$color-primary};
  --color-primary-dark: #{$color-primary-dark};
  --color-primary-darkest: #{$color-primary-darkest};
  --color-primary-light: #{$color-primary-light};
  --color-secondary: #{$color-secondary};
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #{$background-dark};
    --foreground: #ededed;
    --heading-color: #{$heading-dark};
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
