@import './colourpalette.module.scss';

// Colour palette:
$color-primary: $teal;
$color-primary-dark: $forestGreen;
$color-primary-darkest: darken($color-primary-dark, 10%);
$color-primary-light: $tealLight;
$color-secondary: $greyLight;
$color-accent: #0070f3; // fixme
$color-danger: #ff3b3b; // fixme

// Text
$font-primary: $offWhite;
$font-secondary: $coolGrey;
$font-tertiary: $greyLight;
$font-primary-dark: $offWhite;
$font-secondary-dark: $coolGrey;
$font-tertiary-dark: $greyLight;
$font-link-color: $color-primary-light;

$text-dark: $offBlack;
$text-light: $offWhite;
$sub-text: $greyLight;
$background-light: $white;
$background-dark: $prussianBlue;
$background-darker: darken($prussianBlue, 5%);
$heading-dark: $richBlack;
$heading-light: $outerSpace;
$border-color: $greyLight;
$link-hover-color: lighten($color-primary-light, 10%);
$link-active-color: #002f5c;

$starling-purple: #7433FF;
$sinara-red: #E30614;
$uom-gold: #FFCC33;
$uom-purple: #660099;