@import '../themecolours.module.scss';

.content {
    background-color: $background-darker;
    color: var(--color-foreground);
    border-radius: 1.5rem;
    padding: 1.5rem 3rem;
    margin-top: 2rem;

    > p {
        line-height: 2;
    }
}

.main-content {
    padding: 4rem 4rem;
}