@import '../themecolours.module.scss';

.divider {
    height: 1px;
    background-color: $grey;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto; // this combined with below centres the divider in the parent component
    margin-right: auto; // this combined with above centres the divider in the parent component
}

.section-divider {
    @extend .divider;
    margin-top: -1.25rem;
}