@import '../themecolours.module.scss';

.footer {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1.25rem 0rem;
    background-color: var(--heading-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: small;
    color: $font-secondary;
}

.subtext {
    color: $font-tertiary;
    padding: 0.25rem 0rem;
    font-size: x-small;
}