.wrapper {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
}

.list {
    display: flex;
    flex-direction: column;
  }

.key {
    font-weight: 600;
    margin-right: 2rem;
    width: 250px;
    max-width: 250px;
    text-wrap: wrap;
    display: inline-block;
}

.value {
    font-weight: 400;
    display: inline-block;
}