@import './../themecolours.module.scss';

.markdown-content {
    line-height: 2rem;

    p, ul, ol {
        margin-bottom: 1.25rem;
    }

    h1 {
        font-size: larger;
        border-bottom: 2px solid $color-primary-light;
        width: 40%;
        padding-bottom: 0.4rem;
        margin-top: 2.5rem;
        margin-bottom: 2rem;
        font-weight: 700;
    }

    hr {
        margin: 1.5rem 0rem;
        width: 85%;
        justify-self: center;
        color: $border-color;
    }
  }
  
  .markdown-content h2,
  .markdown-content h3 {
    margin-top: 1.75em;
    margin-bottom: 1em;
    font-weight: 700;
  }
  
  .markdown-content ul,
  .markdown-content ol {
    list-style: none;
    margin-left: 1rem;
  }

  .markdown-content ul li {
      position: relative;
      padding-left: 1.5rem;
  }

  .markdown-content ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.9rem;
    width: 0.3em;
    height: 0.3em;
    background: $text-light;
    border-radius: 50%;
    vertical-align: middle;
}
  
  .markdown-content pre {
    background: #f6f8fa;
    padding: 1em;
    border-radius: 6px;
    overflow-x: auto;
  }
  
  .markdown-content code {
    padding: 0.2em 0.4em;
    border-radius: 3px;
    font-size: 0.95em;
  }