@import './../../themecolours.module.scss';

.contents {
  padding-top: 50px;
  font-size: xx-large;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem; // Space between links

  a {
    display: block;
    width: 250px;
  }
}

.tabgroup {
  width: 250px;
  position: relative;
  color: $font-secondary;

  a {
    margin-top: 1rem;
    font-size: smaller;
    margin-left: 1.5rem;

    &::before {
      content: '> ';
      margin-right: 1rem;
    }
  }

}