@import './../../../colourpalette.module.scss';

.container {
  padding: 20px;
}

.tableWrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--background);
  color: var(--text-color);
  border-radius: 10px;
}

.tableHeader {
  border-bottom: 2px solid var(--foreground);
}

.tableHeaderCell {
  padding: 12px;
  text-align: left;
  font-weight: bold;
}

.sortableHeader {
  cursor: pointer;
  user-select: none;
  border-radius: 10px;
  
  &:hover {
    background-color: $darkForestGreen;
  }
}

.sortIconWrapper {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 16px;
  margin-left: 4px;
  vertical-align: middle;
}

.sortIcon {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
  }
}

.tableRow {
  border-bottom: 1px solid var(--background-darker);
  
  &:hover {
    background-color: #333;
  }
}

.tableCell {
  padding: 12px;
}

.locationCell {
  padding: 12px;
  font-weight: bold;
}

.loadingMessage {
  color: #888;
  font-style: italic;
}

.summary {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
  
  p {
    margin: 4px 0;
  }
}